.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../public/header-bg.jpg');
  background-size: cover;
  background-position: center 70%;
  min-height: 80vh;
  margin-bottom: 50px;
  input{
    height: 54px;
  }
}