
.offers-slider {
  padding: 2px;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
}

.category-slide{
  .product-card{
    width: 100%;
  }
}